<div class="container mt-5">
  <div class="d-flex justify-content-between bg-primary text-light align-items-center">
    <%= render "shared/header", locals: { header: @header }, back: true %>
    <%= link_to groups_path do %>
      <i class="bx bxs-chevron-left display-4 text-white"></i>
    <% end %>
    <h5 class="card-title p-2 m-auto">Add New Category</h5>
  </div>

<%= form_with model: @group, url: groups_path, html: { class: 'card' } do |f| %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :icon %>
      <%= f.file_field :icon, class: "form-control", required: true %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "Add Category", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
