<% if can? :read, @group %>
  <div class="container category-container" style="max-width: 400px;">
    <div class="text-light p-3 d-flex gap-3 align-items-center category-head">
      <%= link_to(groups_path, class: "text-white header-div text-2xl py-2 px-2") do %>
        <img class="h-6 header-div" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArklEQVR4nO3YQQrCQBBE0T6hRlFmoXcXFIyQI0T4MqtsMmurm3onSPEnkEmEWV3ACZiBBbhERkADVjZLFBjRfaLAiBU4RxbAdWfEF7hFFh6hwiVUuIQKl1DhEirwZ4cIXEIERUpMg0tRi0yAV/oR1YZMJY5W1/8/DV72e2SDx4jCZUThMqJwGVEuo8plVLmMqmpl2uBydowiY56R0c6Yd2TVjxPw6DWAw7+fxyw2P3RyW8aloQCoAAAAAElFTkSuQmCC">
      <% end %>

      <div class="d-flex gap-5 back">
        <h3 class="card-title"><%= @group.name %></h3>
        <h3 class="card-subtitle">$<%= @total %></h3>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="w-100 col-12 col-md-8 take-off ">
        <div class="d-flex flex-row gap-1 card spendings">
            <% if @group.icon.present? %>
              <%= image_tag(@group.icon, alt: "Group Icon", class: "icon") if @group.icon.attached? %>
            <% end %>
          <div class="  category-list">
            <% @group.spendings.reverse.each do |p| %>
              <div class="card">
                <div class="card-body">
                  <p class="card-text time"><%= p.name %> - <%= p.created_at.strftime("%d/%m/%Y")%></p>
                  <p class="card-text">$<%= p.amount %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="text-center mt-3 list-div">
          <%= link_to 'Add Transaction', new_group_spending_path(@group), class: "btn btn-primary list-btn" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>You are not authorized to view this page</h1>
<% end %>
