<% if can? :read, @group %>
  <div class="container mt-0">
    <div class="bg-primary text-light p-3 d-flex align-items-center justify-content-between">
       <%= link_to groups_path(@group), class: "text-white ms-2" do %>
        Back
      <% end %>

  
      <div class="d-flex gap-5">
        <h3 class="card-title"><%= @group.name %></h3>
        <h3 class="card-subtitle">$<%= @total %></h3>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8">
        <div class="card d-flex gap-3">
          <div class="w-[100%]">
            <% if @group.icon.present? %>
              <%= image_tag(@group.icon, alt: "Group Icon", style: "height: 100px; width:80px;") if @group.icon.attached? %>
            <% end %>
          </div>

          <div class="mt-4 spendings">
            <% @group.spendings.reverse.each do |p| %>
              <div class="card mb-2">
                <div class="card-body">
                  <p class="card-text"><%= p.name %> - <%= p.created_at.strftime("%d %B %Y")%></p>
                  <p class="card-text">$<%= p.amount %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="text-center mt-3 ">
          <%= link_to 'Add Transaction', new_group_spending_path(@group), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>You are not authorized to view this page</h1>
<% end %>
